.imagen{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    background-color: #c5d0d4;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem;
    margin: 1rem;
    margin-top: 2rem;
}
form h3{
    -webkit-text-fill-color: #000000;
    -webkit-text-stroke: 1px #0077ff;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
@media (max-width: 756px ){ /* De este tamaño en adelante  */
    .imagen{
        display: none;
    }
    form{
        margin: 0;
    }
    .container{
        margin-top: 2rem;
        margin-bottom: auto;
    }
}